// Navigation Styles here

nav{
    display: flex;
    justify-content: space-between;
    width: 100%;
    border-bottom: 2px dashed silver;
    align-items: center;
    height: 90px;

    .logo{
        margin-left: 17.5%;
    }//end of .logo styling

    .main-menu{
        margin-right: 15%;
        display: flex;
        width: 30%;

        a{
            text-decoration: none;
            color: black;
            padding: 5%;
            font-size: 1.5rem;
        }//end of a styling
    }//end of main-menu
}//end of nav styling